<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Recipe</title>
  <link rel="stylesheet" href="/styles/recipe.css">
</head>
<body>
  <p>Here are your recipes</p>
  <section>
    {% for result in response.results %}
      <section class="result">
        <div class="image"><img src="{{ result.thumbnail }}"></div>
        <div>
          <div class="title">{{ result.title }}</div>
          <div class="ingredients">{{ result.ingredients }}</div>
        </div>
      </section>
    {% endfor %}
  </section>
  <p><a href="/">Search Again</a></p>
  <script src="/scripts/recipe.js"></script>
</body>
</html>
