body {
  background-color: lightblue;
}

form {
  display: inline-grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

form div {
  padding: 5px;
}

.result {
  background-color: palegoldenrod;
  border-radius: 2px;
  padding: 10px;
  margin: 20px;
  display: flex;
}

.result .image {
  margin-right: 10px;
}

.result .title {
  font-size: 140%;
  font-weight: bold;
}

.result .ingredients {
  font-style: italic;
}